* {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }
  @media (max-width: 1023px) {
    html {
      -webkit-tap-highlight-color: transparent; } }

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px; }

.grid__col-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6667%; }

.grid__col-2-4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%; }

.grid__col-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3333%; }

.app {
  overflow: hidden; }

.container {
  background-color: #f5f5f5;
  margin-top: 0; }
  @media (max-width: 1023px) {
    .container {
      margin-top: calc( 68px + 46px); } }

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes notiGrow {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes growth {
  0% {
    transform: scale(0.7); }
  100% {
    transform: scale(1); } }

@keyframes mobileSearchSideIn {
  from {
    opacity: 0;
    top: calc(68px / 2); }
  to {
    opacity: 1;
    top: 68px; } }

.btn {
  min-width: 90px;
  height: 34px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 1.5rem;
  padding: 0 12px;
  cursor: pointer;
  outline: none;
  color: #333;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.6rem; }
  .btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.07); }
  .btn.btn--primary {
    background-color: #ee4d2d;
    color: #fff; }
  .btn.btn--disabled {
    cursor: default;
    color: #949494;
    background-color: #c3c3c3; }
  .btn--s {
    height: 32px;
    font-size: 1.2rem; }

.select-input {
  position: relative;
  min-width: 200px;
  height: 34px;
  padding: 0 12px;
  border-radius: 2px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1; }
  .select-input:hover .select-input__list {
    display: block; }
  .select-input__label {
    font-size: 1.4rem; }
  .select-input__icon {
    font-size: 1.4rem;
    color: #adadad;
    position: relative;
    top: 1px; }
  .select-input__list {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: #fff;
    padding: 8px 16px;
    list-style: none; }
  .select-input__link {
    font-size: 1.4rem;
    color: #333;
    text-decoration: none;
    display: block;
    padding: 4px 0; }
    .select-input__link:hover {
      color: #ee4d2d; }

.header {
  height: 120px;
  background-image: linear-gradient(0, #fe6433, #f53e2d);
  color: #fff; }
  @media (max-width: 1023px) {
    .header {
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      right: 0;
      height: 68px; } }
  .header__navbar {
    display: flex;
    justify-content: space-between;
    height: 34px; }
    .header__navbar-list {
      list-style: none;
      display: flex;
      padding-left: 0;
      margin: 4px 0 0 0; }
    .header__navbar-item, .header__navbar-item-link {
      display: inline-block;
      font-size: 1.3rem;
      text-decoration: none;
      color: #fff;
      font-weight: 300;
      display: inline-flex;
      align-items: center; }
      .header__navbar-item:hover, .header__navbar-item-link:hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.7); }
    .header__navbar-item {
      margin: 0 8px;
      position: relative;
      min-height: 26px; }
      .header__navbar-item--separate::after {
        content: "";
        background-color: #fb9086;
        position: absolute;
        top: 50%;
        right: -9px;
        width: 1px;
        height: 18px;
        transform: translate(-50%, -50%); }
      .header__navbar-item--no-pointer {
        cursor: text;
        color: #fff; }
      .header__navbar-item--strong {
        font-weight: 400; }
    .header__navbar-user {
      display: flex;
      align-items: center;
      position: relative; }
      .header__navbar-user-img {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1); }
      .header__navbar-user-name {
        font-size: 1.4rem;
        margin-left: 4px;
        font-weight: 400; }
      .header__navbar-user:hover .header__navbar-user-menu {
        display: block; }
      .header__navbar-user-menu {
        position: absolute;
        z-index: 4;
        padding: 0px 0;
        top: calc(100% + 6px);
        right: 0;
        background-color: #fff;
        border-radius: 2px;
        width: 160px;
        list-style: none;
        box-shadow: 0 1px 2px #e0e0e0;
        animation: fadeIn ease-in .2s;
        display: none; }
        .header__navbar-user-menu:before {
          content: "";
          position: absolute;
          top: -27px;
          right: 4px;
          border-width: 20px 27px;
          border-style: solid;
          border-color: transparent transparent #fff transparent; }
        .header__navbar-user-menu-item--separate {
          border-top: 1px solid rgba(0, 0, 0, 0.05); }
        .header__navbar-user-menu-item a {
          text-decoration: none;
          color: #333;
          font-size: 1.4rem;
          padding: 4px 16px;
          display: block; }
          .header__navbar-user-menu-item a:first-child {
            border-top-left-radius: 2px;
            border-top-right-radius: 2px; }
          .header__navbar-user-menu-item a:last-child {
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px; }
          .header__navbar-user-menu-item a:hover {
            background-color: #fafafa; }
    .header__navbar-icon {
      display: inline-flex;
      align-items: center;
      color: #fff;
      text-decoration: none; }
      .header__navbar-icon:nth-child(2) {
        margin-left: 3px; }
      .header__navbar-icon-link {
        font-size: 1.8rem;
        margin: 0 4px; }
        .header__navbar-icon-link:hover {
          color: rgba(255, 255, 255, 0.7); }
  .header__navbar--QR:hover .header__qr,
  .header__navbar-noti-show:hover .header__noti {
    display: block; }
  .header__qr {
    width: 186px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 118%;
    z-index: 1;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .3s; }
    .header__qr:before {
      content: "";
      width: 100%;
      height: 10px;
      position: absolute;
      top: -3%;
      left: 0; }
    .header__qr-img {
      width: 100%; }
    .header__qr-apps {
      display: flex;
      justify-content: space-between; }
      .header__qr-apps-link:nth-child(1) {
        margin-left: 11px; }
      .header__qr-apps-link:nth-child(2) {
        margin-right: 11px; }
      .header__qr-apps-link-download {
        height: 16px; }
  .header__noti {
    position: absolute;
    top: 118%;
    right: 0;
    display: none;
    width: 404px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    z-index: 3;
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: notiGrow ease-in .2s;
    -webkit-animation: notiGrow ease-in .2s;
    -ms-animation: notiGrow ease-in .2s;
    -o-animation: notiGrow ease-in .2s;
    -moz-animation: notiGrow ease-in .2s;
    will-change: opacity, transform; }
    .header__noti:after {
      content: "";
      position: absolute;
      top: -8px;
      right: 0;
      width: 90px;
      height: 8px; }
    .header__noti:before {
      content: "";
      position: absolute;
      top: -27px;
      right: 4px;
      border-width: 20px 27px;
      border-style: solid;
      border-color: transparent transparent #fff transparent; }
    .header__noti-header {
      height: 40px;
      background-color: #fff; }
      .header__noti-header h3 {
        color: #999;
        margin: 0 0 0 12px;
        line-height: 40px;
        font-weight: 400;
        font-size: 1.4rem;
        user-select: none; }
    .header__noti-list {
      padding-left: 0; }
    .header__noti-item:hover {
      background-color: #f7f7f7; }
    .header__noti-item--viewed {
      background-color: rgba(238, 75, 43, 0.08); }
    .header__noti-link {
      display: flex;
      width: 100%;
      text-decoration: none;
      padding: 12px; }
      .header__noti-link-img {
        width: 48px;
        object-fit: contain; }
      .header__noti-link-info {
        margin-left: 12px; }
        .header__noti-link-info--name {
          display: block;
          font-size: 1.4rem;
          color: #333;
          font-weight: 400;
          line-height: 1.8rem; }
        .header__noti-link-info--des {
          display: block;
          font-size: 1.2rem;
          color: #756f6e;
          line-height: 1.8rem;
          margin-top: 4px; }
    .header__noti-footer-btn {
      text-decoration: none;
      color: #333;
      width: 100%;
      display: block;
      text-align: center;
      padding: 8px 0;
      font-size: 1.4rem;
      font-weight: 400; }
  .header__mt-nav {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 280px;
    max-width: 100%;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear .2s;
    z-index: 11;
    display: none; }
    @media (max-width: 1023px) {
      .header__mt-nav {
        display: block; } }
    .header__mt-nav-btn {
      font-size: 2.8rem;
      display: none;
      cursor: pointer; }
      @media (max-width: 1023px) {
        .header__mt-nav-btn {
          display: block; } }
    .header__mt-nav-input {
      display: none; }
  .header__mt-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 11;
    display: none;
    animation: fadeIn linear .2s; }
    .header__mt-overlay-search {
      position: fixed;
      top: calc(68px + 46px);
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
      display: none;
      animation: fadeIn linear .2s; }
  .header__mt-nav-input:checked ~ .header__mt-overlay {
    display: block; }
  .header__mt-nav-input:checked ~ .header__mt-nav {
    transform: translateX(0%);
    opacity: 1; }
  .header__mt-nav-input:not(:checked) ~ .header__mt-nav {
    transform: translateX(-100%);
    transition: transform ease-in .3s; }
  .header__mt-list {
    margin-top: 5px;
    padding: 0px 5px; }
    .header__mt-list hr {
      border-top: 1px solid #ecd0d4;
      width: 95%; }
    .header__mt-list-item {
      list-style: none;
      padding: 5px 5px;
      margin: 0; }
      .header__mt-list-item:hover {
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 2px; }
      .header__mt-list-item a {
        text-decoration: none; }
      .header__mt-list-item:first-child .header__mt-div-item {
        flex-direction: row-reverse;
        font-size: 2rem; }
      .header__mt-list-item:first-child:hover {
        background-color: #fff; }
  .header__mt-user {
    display: flex;
    position: relative; }
    .header__mt-user-img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      object-fit: cover;
      object-position: center; }
    .header__mt-user-name {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      justify-content: center; }
      .header__mt-user-name span {
        color: #333;
        font-size: 1.6rem;
        font-weight: 500; }
        .header__mt-user-name span:last-child {
          color: #7b7979;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2rem; }
  .header__mt-div-item {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    cursor: pointer; }
    .header__mt-div-item-icon {
      color: #333;
      padding: 0 12px 0 8px; }
    .header__mt-div-item-title {
      color: #333; }
  .header__mt-tool {
    display: flex;
    margin-right: 30px; }
  .header-with-search {
    height: calc(120px - 34px);
    display: flex;
    align-items: center;
    padding: 0 8px;
    justify-content: space-between; }
    @media (max-width: 739px) {
      .header-with-search {
        justify-content: space-between; } }
    @media (max-width: 1023px) {
      .header-with-search {
        height: calc(68px - 0px); } }
  .header__mobile-search {
    padding: 0 12px;
    cursor: pointer;
    display: none; }
    @media (max-width: 739px) {
      .header__mobile-search {
        display: block;
        justify-self: flex-start; } }
    .header__mobile-search-icon {
      font-size: 2.6rem; }
  .header__logo {
    width: 200px; }
    @media (max-width: 739px) {
      .header__logo {
        width: unset;
        margin-left: -15px; } }
    .header__logo-img {
      width: 150px; }
      @media (max-width: 739px) {
        .header__logo-img {
          width: 110px; } }
    .header__logo-link {
      color: transparent;
      text-decoration: none;
      display: block;
      line-height: 0; }
  .header__search {
    background-color: #fff;
    border-radius: 2px;
    height: 40px;
    flex: 1;
    display: flex;
    align-items: center; }
    @media (max-width: 739px) {
      .header__search {
        position: fixed;
        z-index: 1;
        top: 68px;
        left: 0;
        right: 0;
        height: 46px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        border: 1px solid #ecd0d4;
        padding: 0 16px;
        animation: mobileSearchSideIn linear .2s;
        display: none;
        transform: translateY(-50%); } }
    .header__search-checkbox:checked ~ .header__mt-overlay-search {
      display: block; }
    .header__search-checkbox:checked ~ .header__search {
      display: flex;
      transform: translateY(0%);
      opacity: 1;
      transition: transform linear .2s; }
    .header__search-input-wrap {
      flex: 1;
      height: 100%;
      position: relative; }
    .header__search-input {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      font-size: 1.5rem;
      color: #333;
      padding: 0 16px;
      border-radius: 2px; }
    .header__search-select {
      border-left: 1px solid #e8e8e8;
      padding-left: 16px;
      position: relative;
      cursor: pointer;
      z-index: 2; }
      .header__search-select-label {
        font-size: 1.4rem;
        color: #333; }
      .header__search-select-icon {
        font-size: 1.4rem;
        color: #adadad;
        margin: 0 16px 0 8px;
        position: relative;
        top: 1px; }
      .header__search-select:hover .header__search-option {
        display: block; }
    .header__search-option {
      position: absolute;
      right: 0;
      top: calc(100% - 1.2px);
      width: 133px;
      list-style: none;
      padding-left: 0;
      box-shadow: 0 1px 2px #e0e0e0;
      border-radius: 2px;
      display: none;
      animation: fadeIn ease-in .25s; }
      .header__search-option:after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 10px;
        top: -10px;
        left: 0; }
      .header__search-option-item i {
        font-size: 1.2rem;
        color: #ee4d2d;
        margin-left: 12px;
        display: none; }
      .header__search-option-item {
        background-color: #fff;
        padding: 8px 8px; }
        .header__search-option-item:first-child {
          border-top-left-radius: 2px;
          border-top-right-radius: 2px; }
        .header__search-option-item:last-child {
          border-bottom-left-radius: 2px;
          border-bottom-right-radius: 2px; }
        .header__search-option-item--active i {
          display: inline-block; }
        .header__search-option-item:hover {
          background-color: #fafafa; }
      .header__search-option-item span {
        font-size: 1.4rem;
        color: #333;
        margin-left: 8px; }
    .header__search-btn {
      cursor: pointer;
      background-color: #ee4d2d;
      border: none;
      height: 34px;
      width: 60px;
      outline: none;
      border-radius: 2px;
      margin-right: 3px; }
      .header__search-btn-icon {
        font-size: 1.4rem;
        color: #fff; }
      .header__search-btn:hover {
        background-color: #fb6445; }
    .header__search-input:focus ~ .header__search-history {
      display: block; }
    .header__search-history {
      position: absolute;
      top: calc(100% + 2px);
      left: 0;
      width: calc(100% - 16px);
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0px 1px 7px #d6d2d2;
      display: none;
      overflow: hidden;
      z-index: 2; }
      @media (max-width: 739px) {
        .header__search-history {
          position: fixed;
          left: 0;
          width: 100%;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); } }
      .header__search-history-heading {
        margin: 6px 12px;
        font-size: 1.4rem;
        color: #999;
        font-weight: 400; }
      .header__search-history-list {
        padding-left: 0;
        list-style: none;
        margin: 6px 0 0; }
        .header__search-history-list-item {
          height: 38px;
          padding: 0 12px; }
          .header__search-history-list-item:hover {
            background-color: #fafafa; }
        .header__search-history-list-item a {
          color: #333;
          font-size: 1.4rem;
          line-height: 38px;
          text-decoration: none;
          display: block; }
  .header__cart {
    width: 150px;
    text-align: center;
    z-index: 3; }
    @media (max-width: 739px) {
      .header__cart {
        width: unset; } }
    @media (min-width: 740px) and (max-width: 1023px) {
      .header__cart {
        width: 80px;
        text-align: right; } }
    .header__cart-wrap {
      position: relative;
      display: inline-block;
      padding: 0 12px;
      cursor: pointer; }
      .header__cart-wrap:hover .header__cart-list {
        display: block; }
    .header__cart-notice {
      position: absolute;
      background-color: #fff;
      color: #ee4d2d;
      top: -8px;
      right: -2px;
      padding: 1.5px 7px;
      font-size: 1.4rem;
      line-height: 1.2rem;
      border: 2px solid #ee4d2d;
      border-radius: 10rem; }
    .header__cart-icon {
      color: #fff;
      font-size: 2.4rem; }
    .header__cart-heading {
      font-size: 1.4rem;
      color: #999;
      font-weight: 400;
      text-align: left;
      margin: 8px 0 8px 12px; }
    .header__cart-list {
      position: absolute;
      top: calc(100% + 8px);
      right: 0px;
      background-color: #fff;
      width: 400px;
      border-radius: 2px;
      box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
      cursor: default;
      display: none;
      animation: fadeIn ease-in .2s; }
      @media (max-width: 1023px) {
        .header__cart-list {
          position: fixed;
          right: 0;
          top: 68px;
          width: 100%;
          padding: 0 calc((100% - 644px) / 2); } }
      .header__cart-list:after {
        content: "";
        position: absolute;
        top: -26px;
        right: 3px;
        border-width: 16px 20px;
        border-style: solid;
        border-color: transparent transparent #fff transparent;
        cursor: pointer; }
        @media (max-width: 1023px) {
          .header__cart-list:after {
            display: none; } }
      .header__cart-list--no-cart {
        padding: 24px 0; }
        .header__cart-list--no-cart .header__cart-list--no-cart-msg,
        .header__cart-list--no-cart .header__cart-list--no-cart-img {
          display: block;
          margin-left: auto;
          margin-right: auto; }
        .header__cart-list--no-cart-msg {
          display: none;
          font-size: 1.4rem;
          color: #333;
          margin-top: 14px; }
        .header__cart-list--no-cart-img {
          width: 54%;
          display: none; }
      .header__cart-list-item {
        padding-left: 0;
        list-style: none;
        max-height: 56vh;
        overflow-y: auto; }
    .header__cart-item {
      display: flex;
      align-items: center; }
      .header__cart-item:hover {
        background-color: #f8f8f8; }
      .header__cart-item-img {
        width: 42px;
        height: 42px;
        margin: 12px;
        border: 1px solid #e8e8e8; }
      .header__cart-item-info {
        width: 100%;
        margin-right: 12px; }
      .header__cart-item-head {
        display: flex;
        align-items: center;
        justify-content: space-between; }
      .header__cart-item-name {
        flex: 1;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 2rem;
        max-height: 4rem;
        color: #333;
        overflow: hidden;
        margin: 0;
        padding-right: 16px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-align: left; }
      .header__cart-item-price {
        font-size: 1.4rem;
        font-weight: 400;
        color: #ee4d2d; }
      .header__cart-item-multiply {
        font-size: .9rem;
        color: #757575;
        margin: 0 4px; }
      .header__cart-item-quantity {
        font-size: 1.2rem;
        color: #757575; }
      .header__cart-item-body {
        display: flex;
        justify-content: space-between; }
      .header__cart-item-des {
        color: #757575;
        font-size: 1.2rem;
        font-weight: 300; }
      .header__cart-item-remove {
        color: #333;
        font-size: 1.4rem; }
        .header__cart-item-remove:hover {
          color: #ee4d2d;
          cursor: pointer; }
    .header__cart-view-cart {
      float: right;
      margin: 0 12px 12px 0; }
      .header__cart-view-cart:hover {
        background-color: #f05d41; }
  .header__sort-bar {
    position: fixed;
    top: 120px;
    left: 0;
    right: 0;
    height: 46px;
    line-height: calc(120px - 34px);
    background: #fff;
    list-style: none;
    margin: 0;
    padding-left: 0;
    align-items: center;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none; }
    @media (max-width: 1023px) {
      .header__sort-bar {
        top: 68px;
        display: flex; } }
    .header__sort-bar-item {
      flex: 1; }
      .header__sort-bar-item--active .header__sort-bar-link {
        color: #ee4d2d; }
    .header__sort-bar-link {
      text-decoration: none;
      color: #333;
      font-size: 1.4rem;
      display: block;
      height: 100%;
      line-height: 46px;
      text-align: center;
      position: relative; }
      .header__sort-bar-link::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        height: 60%;
        border-left: 1px solid #e5e5e5;
        transform: translateY(-50%); }
    .header__sort-bar-item:first-child .header__sort-bar-link::before {
      display: none; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  animation: fadeIn linear .1s; }
  .modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); }
  .modal__body {
    position: relative;
    width: 500px;
    margin: auto;
    z-index: 1;
    animation: growth linear .1s; }

.auth-form {
  width: 500px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden; }
  .auth-form__container {
    padding: 0 32px; }
  .auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px; }
    .auth-form__header--heading {
      font-size: 2.2rem;
      font-weight: 400;
      color: #333; }
    .auth-form__header--switch-btn {
      font-size: 1.6rem;
      color: #ee4d2d;
      font-weight: 400;
      cursor: pointer; }
  .auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    font-weight: 300;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    outline: none; }
    .auth-form__input:focus {
      border-color: #888; }
  .auth-form__aside {
    margin-top: 18px; }
  .auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px; }
  .auth-form__text-link {
    text-decoration: none;
    color: #ee4d2d; }
  .auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end; }
    .auth-form__controls-back {
      margin-right: 8px; }
  .auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px; }
    .auth-form__socials-icon {
      font-size: 1.8rem; }
    .auth-form__socials--facebook {
      color: #fff;
      background-color: #3a5a98; }
    .auth-form__socials--google {
      background-color: #fff;
      color: #666; }
    .auth-form__socials-title {
      margin: 0 36px; }
  .auth-form__help {
    display: flex;
    justify-content: flex-end; }
    .auth-form__help-link {
      font-size: 1.4rem;
      text-decoration: none;
      color: #939393; }
    .auth-form__help-seperate {
      display: block;
      border-left: 1px solid #eaeaea;
      height: 22px;
      margin: 3px 16px 0; }
    .auth-form__help-forgot {
      color: #ee4d2d; }

.category {
  background-color: #fff;
  border-radius: 2px; }
  .category__heading {
    margin-top: 0;
    font-size: 1.7rem;
    color: #333;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07); }
    .category__heading-icon {
      font-size: 1.4rem;
      margin-right: 4px;
      position: relative;
      top: -1px; }
  .category-list {
    list-style: none;
    padding: 0 0 8px 0;
    margin-left: 9px; }
  .category-item__link {
    position: relative;
    right: 0;
    font-size: 1.5rem;
    text-decoration: none;
    color: #333;
    padding: 4px 16px;
    display: block;
    transition: right .1s; }
    .category-item__link:hover {
      color: #ee4d2d;
      right: -5px; }
  .category-item--active .category-item__link {
    color: #ee4d2d; }
  .category-item--active .category-item__link:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translateY(calc(-50% - 1px));
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent transparent #ee4d2d; }

.app__content {
  padding-top: 36px; }
  @media (max-width: 739px) {
    .app__content {
      margin: 0 4px; } }
  @media (max-width: 1023px) {
    .app__content {
      padding-top: 8px; } }

.home-filter {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 22px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.04); }
  .home-filter__label {
    color: #555;
    font-size: 1.4rem;
    margin-right: 12px; }
  .home-filter__btn {
    margin-right: 12px;
    background-color: #fff; }
  .home-filter__paging {
    display: flex;
    align-items: center;
    margin-left: auto; }
    .home-filter__paging-num {
      font-size: 1.5rem;
      color: #333;
      margin-right: 22px; }
      .home-filter__paging-num-current {
        color: #ee4d2d; }
    .home-filter__paging-control {
      border-radius: 2px;
      width: 72px;
      height: 36px;
      display: flex; }
      .home-filter__paging-control-btn {
        flex: 1;
        display: flex;
        background-color: #fff;
        text-decoration: none; }
        .home-filter__paging-control-btn:first-child {
          border-left: 1px solid #eee; }
        .home-filter__paging-control-btn i {
          margin: auto;
          font-size: 1.4rem;
          color: #555; }
        .home-filter__paging-control-btn--disable {
          background-color: #f9f9f9;
          cursor: default; }
          .home-filter__paging-control-btn--disable i {
            color: #ccc; }

.home-product {
  margin-bottom: 10px; }
  .home-product__pagingnation {
    margin-top: 50px;
    margin-bottom: 32px;
    padding-left: 0; }

.product-item {
  display: block;
  text-decoration: none;
  background-color: #fff;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: transform ease-in .1s;
  will-change: transform; }
  .product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05); }
  .product-item__img {
    padding-top: 100%;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }
  .product-item__name {
    font-size: 1.4rem;
    font-weight: 500;
    color: #333;
    line-height: 1.8rem;
    margin: 10px 10px 6px 10px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden; }
  .product-item__price {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline; }
    .product-item__price--old {
      font-size: 1.4rem;
      color: #666;
      text-decoration: line-through;
      margin-left: 10px; }
    .product-item__price--new {
      font-size: 1.6rem;
      color: #ee4d2d;
      margin-left: 10px; }
  .product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0; }
  .product-item__like {
    font-size: 1.3rem; }
    .product-item__like-icon-fill.fa {
      display: none; }
    .product-item__like--liked .product-item__like-icon-fill {
      display: inline-block;
      color: #ee4d2d; }
    .product-item__like--liked .product-item__like-icon-empty {
      display: none; }
  .product-item__rate {
    font-size: .9rem;
    margin: -1px 0 0 auto; }
    .product-item__rate--gold {
      color: #ffce3e; }
  .product-item__sold {
    font-size: 1.2rem;
    color: #333;
    margin-left: 6px; }
  .product-item__origin {
    display: flex;
    margin: 3px 10px 0 10px;
    color: #595959;
    font-weight: 300;
    font-size: 1.2rem; }
    .product-item__origin-brand {
      margin-right: auto; }
  .product-item__favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: #ee4d2d;
    background-color: currentColor;
    font-size: 1.2rem;
    font-size: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
    .product-item__favorite:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -3px;
      border-top: 3px solid currentColor;
      border-left: 3px solid transparent;
      filter: brightness(60%); }
    .product-item__favorite span {
      color: #fff; }
    .product-item__favorite i {
      color: #fff;
      font-size: .9rem;
      margin: 0 2px 0 5px; }
  .product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.94);
    border-top-right-radius: 2px; }
    .product-item__sale-off::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      border-style: solid;
      border-width: 0 20px 4px 20px;
      color: rgba(255, 216, 64, 0.94);
      border-color: transparent currentColor transparent currentColor; }
    .product-item__sale-off-percent {
      color: #ee4d2d;
      font-weight: 600;
      font-size: 1.2rem;
      line-height: 1.2rem;
      position: relative;
      top: -1px; }
    .product-item__sale-off-label {
      position: relative;
      top: -10px;
      color: #fff;
      font-size: 1.3rem;
      line-height: 1.3rem;
      font-weight: 600; }

.pagingnation {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none; }
  .pagingnation-item {
    margin: 0 12px;
    font-size: 1.4rem;
    margin: 0; }
    .pagingnation-item__link {
      display: block;
      text-decoration: none;
      font-size: 2rem;
      font-weight: 300;
      color: #939393;
      min-width: 40px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-radius: 2px; }
      @media (max-width: 739px) {
        .pagingnation-item__link {
          min-width: 36px; } }
    .pagingnation-item--active .pagingnation-item__link {
      background-color: #ee4d2d;
      color: #fff; }
      .pagingnation-item--active .pagingnation-item__link:hover {
        background-color: #ed5c3f; }

.footer {
  padding-top: 16px;
  border-top: 4px solid #ee4d2d; }
  @media (max-width: 739px) {
    .footer__content {
      padding: 0 16px; } }
  .footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #333; }
    @media (max-width: 739px) {
      .footer__heading {
        text-align: center; } }
  .footer__list {
    padding-left: 0;
    list-style: none; }
    .footer__list-item-link {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-size: 1.2rem;
      color: #737373;
      padding: 2px 0; }
      .footer__list-item-link:hover {
        color: #ee4d2d; }
    .footer__list-item-icon {
      font-size: 1.6rem;
      margin: -1px 8px 0 0; }
  .footer__download {
    display: flex; }
    @media (max-width: 739px) {
      .footer__download {
        justify-content: center; } }
    .footer__download-QR {
      width: 80px;
      height: 80px;
      border: 1px solid #dbdbdb; }
    .footer__download-app {
      flex: 1;
      margin-left: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      @media (max-width: 739px) {
        .footer__download-app {
          flex: unset; } }
      .footer__download-app-link {
        text-decoration: none;
        color: transparent; }
        @media (max-width: 739px) {
          .footer__download-app-link {
            display: block;
            padding: 6px 8px; } }
      .footer__download-app-img {
        height: 16px; }
  .footer__bottom {
    background-color: #f5f5f5;
    padding: 12px 0;
    margin-top: 36px; }
  .footer__copy-right {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    color: #737373; }

@media (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none; } }

@media (max-width: 739px) {
  .hide-on-mobile {
    display: none; } }

@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none; } }

.mobile-category {
  display: none; }
  @media (max-width: 739px) {
    .mobile-category {
      display: block; } }
  .mobile-category__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto; }
    .mobile-category__list::-webkit-scrollbar {
      display: none; }
  .mobile-category__item {
    flex-shrink: 0;
    border-radius: 4px;
    margin-right: 10px; }
    .mobile-category__item:nth-last-of-type(3n) {
      background-color: #87afd8; }
    .mobile-category__item:nth-last-of-type(3n + 2) {
      background-color: #76c9bd; }
    .mobile-category__item:nth-last-of-type(3n + 1) {
      background-color: #88cf81; }
    .mobile-category__item-link {
      display: block;
      text-decoration: none;
      color: #fff;
      font-size: 1.4rem;
      line-height: 2rem;
      height: calc(2rem * 2);
      overflow: hidden;
      text-align: center;
      width: 110px;
      font-weight: 300;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -moz-user-select: none;
      -webkit-tap-highlight-color: transparent;
      padding: 0 6px; }
